on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Lint
jobs:
  staticcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x

      - uses: actions/checkout@v3

      - uses: dominikh/staticcheck-action@v1.2.0
        with:
          install-go: false

  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x

      - uses: actions/checkout@v3

      - uses: golangci/golangci-lint-action@v3.2.0
        with:
          only-new-issues: true
