name: Lint Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

  workflow_dispatch: {}

jobs:
  check-mod-tidy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Export constant environmental variables
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .github/workflows/constants.env

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}.x
          check-latest: true
          cache: true

      - name: Ensure go.mod was tidied
        run: |
          go mod tidy -compat ${{ env.GO_VERSION }}
          STATUS=$(git status --porcelain go.mod go.sum)
          if [ -n "$STATUS" ]; then
            echo "Running go mod tidy modified go.mod and/or go.sum"
            exit 1
          fi
          exit 0

  staticcheck:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Export constant environmental variables
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .github/workflows/constants.env

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}.x
          check-latest: true
          cache: true

      - name: Lint with staticcheck
        uses: dominikh/staticcheck-action@v1.3.0
        with:
          install-go: false

  golangci-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Export constant environmental variables
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .github/workflows/constants.env

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}.x
          check-latest: true
          cache: true

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v3.6.0
        with:
          only-new-issues: true
