name: Lint Dockerfile

on:
  push:
    paths:
      - Dockerfile

  workflow_dispatch: {}

jobs:
  lint-dockerfile:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.0.0
        with:
          dockerfile: Dockerfile
