on: 
  release:
    types: [created]

jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Get version
      run: |
        echo "GIT_TAG=$(git tag --sort=-version:refname | head -n 1)" >> $GITHUB_ENV

    - uses: wangyoucao577/go-release-action@v1.30
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: amd64
        binary_name: whalewall
        pre_command: export CGO_ENABLED=0
        build_flags: -buildmode=pie -trimpath
        ldflags: -w -s -X main.version=${{ env.GIT_TAG }}
        sha256sum: true
