name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  race-test:
    # required for nftables to work correctly
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.13.0
        with:
          go-version-file: go.mod

      - name: Cache Go files
        uses: capnspacehook/cache-go@v1

      # the test is compiled and run as root so that whalewall can
      # interface with nftables, which is a privileged operation
      - run: |
          go test -c -race -o whalewall.test
          sudo ./whalewall.test -test.timeout 5m -test.v

  binary-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.13.0
        with:
          go-version-file: go.mod

      - name: Cache Go files
        uses: capnspacehook/cache-go@v1

      # run the integration tests but use a binary to create rules
      # to test with landlock and seccomp filters active
      - run: |
          cd cmd/whalewall
          CGO_ENABLED=0 go build -o ../../whalewall
          cd ../../
          go test -c -o whalewall.test
          sudo ./whalewall.test -binary-tests -test.run Integration -test.timeout 5m -test.v

  image-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Ensure Docker image builds
        uses: docker/build-push-action@v5
        with:
          load: true
          push: false
          tags: whalewall:test

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.13.0
        with:
          go-version-file: go.mod

      - name: Cache Go files
        uses: capnspacehook/cache-go@v1

      # run the integration tests but use a container to create rules
      # to test with landlock and seccomp filters active
      - run: |
          go test -c -o whalewall.test
          sudo ./whalewall.test -container-tests -test.run Integration -test.timeout 5m -test.v
